/* Styles go here */

.luke {
  fill:rgba(0,0,0,.1);  stroke-width:3;stroke:rgba(255,0,0,1);
}

.luketext {
  color: green; font-family: sans-serif; font-size: xx-large;
}

rect:hover {
  cursor: pointer;
}